.cartSection{
    max-width: 1240px;
    min-height: 100vh;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    
    h2{
        font-size: 32px;
    }
    
    p{
        padding: 4px 0;
    }
}