.mainProductCard{
    width: 295px;
    height: 440px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid gray;
    box-shadow: 0 0 8px gray;
    background-color: #E5E5E5;
    transition: .3s;
    
    &:hover{
        box-shadow: 0 0 10px black;
    }
}