.header{
    padding: 20px 0;
    border-bottom: 2px dashed lightgray; 
}

.head_container{
    max-width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
    
.leftDiv{
    width: 49%;
    background-image: url(../../assets/left-image.jpg);
    background-size: cover;
    color: white;
    padding: 180px 40px;
    box-shadow: 0 0 10px gray;   
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        font-size: 44px;
    }
}

.text{
    color: white;
    font-size: 20px;
    padding: 20px 0 40px;
}

.rightDiv{
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
    
    h2{
        color: white;
        font-size: 32px;
    }

    .box{
        width: 290px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        text-align: center;
        box-shadow: 0 0 10px gray;   
    }
    
    .box1{
        background-image: url(../../assets/women.jpg);
    }

    .box2{
        background-image: url(../../assets/men.jpg);
    }
    
    .box3{
        background-image: url(../../assets/kids.jpg);
    }

    .box4{
        background-image: url(../../assets/accessories.jpg);
    }
}
