.media_container{
    max-width: 1240px;
    margin: auto;
    padding: 40px 0 80px;

    .box1{
        background-image: url(../../assets/social-01.jpg);
    }
    .box2{
        background-image: url(../../assets/social-02.jpg);
    }
    .box3{
        background-image: url(../../assets/social-03.jpg);
    }
    .box4{
        background-image: url(../../assets/social-04.jpg);
    }
    .box5{
        background-image: url(../../assets/social-05.jpg);
    }
    .box6{
        background-image: url(../../assets/social-06.jpg);
    }

    .sectionName{
        font-size: 36px;
        font-weight: 700;
    }

    .text{
        color: gray;
        padding: 8px 0 24px;
    }

    .mediaDiv{
        display: flex;
        justify-content: space-between;
    }

    .box{
        background-size: cover;
        width: 15%;
        height: 240px;
        box-shadow: 0 0 10px gray;
        cursor: pointer;
    }
    
    .boxChild{
        background-color: black;
        opacity: 0;
        height: 100%;
        position: relative;
        transition: .3s linear;
       
        div{
            position: absolute;
            bottom: 0;

            .text{
                padding: 15px;
                color: white;
            }
        }
    }

    .box:hover .boxChild{
        opacity: .8;
    }
}