.productDiv{
    .imageDiv{
        text-align: center;
    }
    
    .title{
        color: black;
    }
    
    .infoDiv{
        padding: 20px 10px 0;
        background-color: #E5E5E5;
    
        .div{
            display: flex;
            gap: 20px;
            align-items: center;
            color: #333;
        }
    
        .ratingDiv, 
        .priceDiv{
            display: flex;
            gap: 4px;
            padding: 4px 0;
        }
    
        .gold{
            color: orange;
        }
    }
}
