* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    max-width: 100%;
}

.active{
    background-color: lightgray;
}
